.background{
    width :100%;
    height : 1000px;
    position : relative;
    display : flex;
    justify-content : center;
}

.right-arrow{
    z-index: 99;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 48%;
    right: 25%;
    font-size: 2rem;
}

.left-arrow{
    z-index: 99;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 48%;
    left: 25%;
    font-size: 2rem;
}

.darken{
    background-color: black;
    opacity: .5;
}
/*
.image-left{

}
.image-center{
}
.image-right{
    
}
*/